label {
  font-size: 30px;
  padding-right: 20px;
  color: black;
}

input {
  font-size: 20px;
}

button {
  font-size: 20px;
  background-color: #ff9326;
  border-radius: 10%;
  padding: 10px 20px;
}

.timer {
  font-size: 200px;
  text-align: center;
  color: black;
}

.input-container {
  margin: 20px;
}

.align-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-align: center;
}

.contenedorCronometro{
  display: flex;
}


.cronometroContainer {
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.ladoCronometro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 800%;
}

.frenteCronometro {
  background: rgb(255, 175, 1);
}

.containerCronometro{
  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}